body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 2em;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 300;
}

form {
  display: inline-block;
}

button {
  font-family: "Open Sans", sans-serif;
  padding: 0.25em 0.5em;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

footer, footer a {
  color: lightgrey;
}

.sprite {
  background-color: transparent;
  background-image: url(/sprites.png);
  background-repeat: no-repeat;
  background-size: 128px 32px;
  display: inline-block;
  height: 32px;
  margin: 0 0.25em;
  overflow: hidden;
  vertical-align: bottom;
  width: 32px;
}

.down-left {
  background-position: 0 0;
}

.down-right {
  background-position: -32px 0;
}

.up-left {
  background-position: -64px 0;
}

.up-right {
  background-position: -96px 0;
}

.preload {
  display: none;
}
